<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Desktop Command Remote{% endblock %}</title>

  <!--Gotta add pace first, for the preloader-->
  <script type="text/javascript" src="static/js/preloader/pace.js"></script>
  <link href="static/css/preloader/preloader.css" rel="stylesheet">
  <script type="text/javascript" src="static/js/preloader/preloader.js"></script>


  <script type="text/javascript" src="static/lib/head.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script type="text/javascript">
    head.load(
      "static/lib/font-awesome-bower/css/font-awesome.css",
      "static/lib/libs.min.css",
      "static/css/main.css"
    );
    var music_dir = "{{music_dir|addslashes}}";
    var music_dir_set = "{{music_dir_set}}" === "true";

  </script>
  {% block head %} {% endblock %}
</head>

<body>
  <div class="preloader-show" id="preloader-overlay">
  </div>
  <!--  Search overlay is spatially present above #music_ui-->
  <div id="search-overlay">
    <input type="text" class="search-input" placeholder="Search Encore" id="input">
    <p id="instructions">Find your favourite songs :)</p>
    <!--  Search button-->
    <div id="overlay-search-button">
      <span id="link">
    Search
  </span>
    </div>
  </div>

  <!--  Custom SVG filter for a bluish tint-->
  <svg class="defs-only">
    <filter id="blue-tint" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
      <feColorMatrix type="matrix" values="0.36 0 0 0  0.02 
              0.44 0 0 0  0.06  
              0.40 0 0 0  0.16 
                0  0 0 1  0" />
    </filter>
  </svg>
  <div id="music_ui">
    {% if menu %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#playlist/LIBRARY">Encore</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li style="align-self: center;">
            <a class="pointer" id="search-button"><i class="fa fa-search fa-lg"></i></a>
          </li>
          {% if log %}
          <li class='dropdown'>
          <a class='pointer dropdown-toggle' data-toggle='dropdown'>Scan Library <span class="caret"></span></a>
          <ul class='dropdown-menu' role='menu'>
            <li><a class='pointer' id='soft_scan'>Regular Scan</a></li>
            <li><a class='pointer' id='hard_scan'>Hard Rescan</a></li>
          </ul>
        </li>
          {% endif %}
          <!-- <li {% if demo %}class="disabled"{% endif %}>
          <a class='pointer' id='load_sync_view'>
            Sync Libraries {% if demo %}(disabled in demo){% endif %}
          </a>
        </li> -->
        </ul>
        <ul class="nav navbar-nav pull-right">
          {% block extra_nav %}{% endblock %}
        </ul>
      </div>
    </nav>
    {% endif %} {% block content %} {% endblock %}
  </div>
  <script type="text/javascript">
    head.js(
      "static/lib/libs.min.js",
      "socket.io/socket.io.js",
      "static/js/player/utils.js",
      "static/js/player/models.js",
      "static/js/player/player.js",
      "static/js/player/socket.js",
      "static/js/player/backbone_setup.js",
      "static/js/player/settingsview.js",
      "static/js/player/onload.js",
      "static/js/player/songview.js",
      "static/js/player/selection_options.js",
      "static/js/player/detailview.js",
      "static/js/player/sidebarview.js",
      "static/js/player/infoview.js",
      "static/js/player/syncview.js",
      "static/js/player/footer.js",
      "static/js/player/coverbox.js",
      "static/js/player/music-search.js",
      "https://www.youtube.com/iframe_api"
    );

  </script>
  {% block scripts %} {% endblock %}

</body>

</html>
